---
const { data } = Astro.props
---

<section class="w-96 bg-[#FFDCC3] rounded-3xl relative border border-[#FFCFAC]">
  <a href={data.route}>
    <div class="bg-white px-4 py-2 w-fit rounded-lg absolute top-6 left-6">
      <p class="text-[#FF7D1F] text-sm font-medium font-manrope">{data.role}</p>
    </div>
    <img
      src={data.image}
      alt=""
      class="rounded-t-3xl w-full object-cover h-[330px]"
    />
    <div
      class="flex items-center justify-between py-4 px-6 bg-red bg-white rounded-b-3xl"
    >
      <h3 class="text-xl font-manrope font-semibold">{data.name}</h3>
      <div class="bg-[#FF7D1F] p-2 rounded-lg">
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12.6081 5.06287C14.3389 6.34287 15.8934 7.83818 17.2333 9.51097C17.3482 9.65447 17.4057 9.82724 17.4057 10M12.6081 14.9372C14.3389 13.6571 15.8934 12.1618 17.2333 10.489C17.3482 10.3456 17.4057 10.1728 17.4057 10M17.4057 10H2.59424"
            stroke="white"
            stroke-width="1.64571"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
  </a>
</section>
