<section class="max-w-7xl mx-auto mb-20 px-4">
  <h1 class="text-primary text-2xl md:text-4xl font-semibold">Who we are</h1>
  <div class="mt-6">
    <p class="text-gray-500 text-md lg:text-lg">
      Fetcch is a Web3 pull payments infrastructure project. At Fetcch, we're
      pioneering a new frontier in the Web3 ecosystem with our decentralized
      payments connectivity network. Our aim is to seamlessly connect users,
      wallets, and decentralized applications (dApps) across various blockchain
      platforms.
    </p>
    <p class="text-gray-500 text-md lg:text-lg mt-4">
      Recognizing the complexities in the existing Web3 landscape, where users
      juggle multiple addresses and identities across different chains, we've
      developed a solution to simplify this process. Fetcch introduces a unique
      system of cross-chain, composable wallet IDs. This innovation enables
      users to maintain a single identity that connects effortlessly to an array
      of addresses on any chain, thereby enhancing the user experience and
      reducing the typical challenges associated with managing multiple
      blockchain interactions.
    </p>
    <p class="text-gray-500 text-md lg:text-lg mt-4">
      Our commitment to revolutionizing the Web3 space has been acknowledged by
      Graviton, a Web3-focused accelerator for emerging markets. Selected as
      part of Graviton's first cohort in 2023, Fetcch stood out among over 350
      applicants, securing investment, mentorship, and valuable networking
      opportunities. This recognition is a testament to our potential in
      reshaping the infrastructure of the Web3 world.
    </p>
    <p class="text-gray-500 text-md lg:text-lg mt-4">
      Fetcch is more than just a project; it's a movement towards a more
      interconnected and user-friendly blockchain environment. We aim to elevate
      user engagement and retention by leveraging real-time data to streamline
      the Web3 experience. Join us as we lead the way in simplifying and
      enhancing the Web3 journey for users worldwide.
    </p>
  </div>
</section>
