---
import MainNav from "../components/main-nav.astro"
---

<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Report</title>
</head>
<body>
  <header class="border-y-2 border-border sticky top-0 bg-white z-30">
    <MainNav />
  </header>
  <div class="container mt-[90px] mb-[50px] ">
    <h1 class="text-6xl !leading-[72px] mb-8 font-bold">Unlocking the next wave of adoption in crypto through trust</h1>
    <div class="w-full h-[391px] bg-slate-500 rounded-xl">
      <!-- Image here -->
    </div>
  </div>
  <div class="container">
    <!-- Side bar -->
    <div>
      <button>
        <p>Download Report</p>
        
      </button>
    </div>
  </div>
</body>
</html>