<section class="p-2">
  <div class="flex items-center gap-2 md:gap-4 justify-center flex-wrap">
    <div
      class="px-3 py-1 rounded-full border border-neutral-200 bg-neutral-100"
    >
      <p class="text-gray-600 font-medium text-xs font-inter">Announcement</p>
    </div>
    <p class="font-medium text-sm text-center font-inter">
      We are happy to announce that we have raised $1.5M in pre-seed funding
      <a href="https://writings.fetcch.xyz/funding" target="_blank">
        <span class="text-primary underline ml-1">Read more</span>
      </a>
    </p>
  </div>
</section>
