---
import demo from "@/public/assets/demo.svg"
---

<section class="w-full bg-white py-12 h-fit">
  <div
    class="bg-[#263238] sm:rounded-2xl container relative overflow-hidden z-10 w-full h-fit py-12"
  >
    <img
      src={demo.src}
      alt="demo image"
      class="absolute inset-y-0 right-0 hidden lg:block w-1/2 xl:w-fit"
    />
    <div class="xl:ml-12">
      <h3 class="text-white uppercase mb-4">1% of the industry</h3>
      <h2 class="text-2xl xl:text-4xl font-semibold text-white max-w-xl">
        Book a demo with Fetcch today and unlock your Web3 stack
      </h2>
      <button
        class="rounded-full bg-primary px-6 py-3 text-white mt-8 text-sm hover:bg-primary/90 font-semibold"
        >Book Demo</button
      >
    </div>
  </div>
</section>
