---
import developers from "@/public/assets/developers.png"
---

<section class="w-full py-12 bg-[#263035]">
  <div class="container grid grid-cols-2 gap-4 gap-y-12 md:gap-y-0">
    <!-- image -->
    <div class="col-span-full md:col-span-1">
      <img src={developers.src} alt="code image" />
    </div>
    <!-- right text -->
    <div
      class="flex flex-col space-y-4 justify-center col-span-full md:col-span-1"
    >
      <h2 class="text-white text-3xl lg:text-5xl font-bold max-w-lg">
        For Developers By Developers
      </h2>
      <p class="text-[#ADBDCC] max-w-md lg:text-lg">
        We believe `Code` can solve payments for the next billion. So we obsess
        over eliminating complexities, providing elegant abstractions that scale
        reliably.
      </p>
    </div>
  </div>
</section>
