---
import developers from "@/public/assets/developers.png"
import { Image } from "astro:assets"
---

<section class="w-full pt-24 bg-[#263035] min-h-[730px] flex items-center">
  <div
    class="container grid grid-cols-2 gap-4 gap-y-12 md:gap-y-0 max-w-7xl mx-auto"
  >
    <!-- image -->
    <div class="col-span-full md:col-span-1">
      <Image src={developers} alt="code image" />
    </div>
    <!-- right text -->
    <div
      class="flex flex-col space-y-4 justify-center col-span-full md:col-span-1"
    >
      <h2 class="text-white text-3xl lg:text-5xl font-bold max-w-lg">
        For Developers By Developers
      </h2>
      <p class="text-[#ADBDCC] max-w-md lg:text-lg">
        We believe `Code` can solve payments for the next billion. So we obsess
        over eliminating complexities, providing elegant abstractions that scale
        reliably.
      </p>
      <p class="text-[#ADBDCC] max-w-md lg:text-lg">
        So we obsess over eliminating complexities, providing elegant
        abstractions by enabling pull payment features that scale reliably
      </p>
      <a
        href="https://docs.fetcch.xyz/"
        target="_blank"
        class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary flex items-center gap-2 max-w-fit"
      >
        <span>View on gitbook</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 256 256"
          class="w-4 h-4 text-white"
          ><path
            fill="currentColor"
            d="m221.66 133.66l-72 72a8 8 0 0 1-11.32-11.32L196.69 136H40a8 8 0 0 1 0-16h156.69l-58.35-58.34a8 8 0 0 1 11.32-11.32l72 72a8 8 0 0 1 0 11.32Z"
          ></path></svg
        >
      </a>
    </div>
  </div>
</section>
