<section
  class="bg-[#F6F9FC] w-full h-fit py-6 lg:py-12 min-h-[1032px] flex items-center"
>
  <div class="grid grid-cols-12 mx-auto gap-4 w-full max-w-7xl container">
    <div class="lg:col-span-6 col-span-full">
      <h2 class="text-4xl font-bold max-w-sm">
        A Developer SDK for every type of product
      </h2>
      <p class="text-[#5A6475] mt-6 max-w-md">
        We have Developer SDK for every type of payment product - mobile
        wallets, browser wallets, payment gateways, PoS machines, onramps,
        offramps, bridges etc. to enable payment requests.
      </p>
      <a
        href="https://docs.fetcch.xyz"
        target="_blank"
        class="text-primary flex items-center space-x-2 mt-8 font-semibold"
      >
        <span>Learn More</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
        </svg>
      </a>
    </div>
    <div
      class="justify-end xl:h-[369px] h-fit border border-white shadow-xl rounded-xl lg:col-span-6 col-span-full overflow-hidden"
    >
      <video
        autoplay
        loop
        muted
        playsinline
        id="metamask"
        onloadstart="this.playbackRate = 0.5;"
      >
        <source src="/assets/metamask.webm" type="video/webm" />
        <!-- <img src="/assets/metamask.gif" alt="metamask" /> -->
      </video>
    </div>
    <!-- second row -->
    <div
      class="h-fit xl:h-[449px] border border-white shadow-xl rounded-xl lg:col-span-8 col-span-full overflow-hidden"
    >
      <video autoplay loop muted playsinline id="payment">
        <source src="/assets/payment.webm" type="video/webm" />
        <!-- <img src="/assets/gateway.gif" alt="gateway" /> -->
      </video>
    </div>
    <div
      class="h-fit xl:h-[449px] border border-white shadow-xl rounded-xl lg:col-span-4 col-span-full overflow-hidden"
    >
      <video
        autoplay
        loop
        muted
        playsinline
        id="mobile"
        onloadstart="this.playbackRate = 0.7;"
      >
        <source src="/assets/mobile.webm" type="video/webm" />
        <!-- <img src="/assets/mobile.gif" alt="mobile" /> -->
      </video>
    </div>
  </div>
</section>
