---
import products from "@/public/assets/products.png"
import siteLogo from "@/public/logo.svg"
import { Image } from "astro:assets"
---

<script>
  const emailForm = document.getElementById("emailForm") as HTMLFormElement
  const subEmail = document.getElementById("subEmail") as HTMLInputElement

  emailForm.addEventListener("submit", async (e) => {
    e.preventDefault()
    if (subEmail.value == "") {
      alert("Email must be provided !")
    } else {
      const res = await fetch(
        "https://wallet-api.fetcch.xyz/add-email-for-website",
        {
          method: "POST",
          body: JSON.stringify({
            email: subEmail.value,
          }),
          headers: {
            "Content-Type": "application/json",
            Accept: "application/json",
          },
        },
      )
      const successMsg = document.getElementById(
        "successMsg",
      ) as HTMLParagraphElement
      if (!res.ok) {
        successMsg.innerText = "Something went wrong! Please try again."
        successMsg.classList.toggle("hidden")
      } else {
        console.log(subEmail.value)
        subEmail.value = ""
        successMsg.classList.toggle("hidden")
      }
      setTimeout(() => {
        successMsg.classList.toggle("hidden")
      }, 10000)
    }
  })
</script>

<footer class="w-full pt-12 h-fit">
  <div class="container pb-12 max-w-7xl mx-auto">
    <div
      class="min-h-32 h-fit flex flex-col md:flex-row items-start pb-12 justify-between"
    >
      <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0">
        <Image src={products} alt="decoration" class="w-32" />
        <div class="flex flex-col sm:ml-8 justify-center">
          <Image src={siteLogo} alt="logo" class="w-20" />
          <p class="mt-4 text-sm">A Web3 Pull Layer Platform</p>
        </div>
      </div>
      <div
        class="flex w-full justify-center items-center flex-col mt-6 md:mt-0 max-w-sm"
      >
        <form
          id="emailForm"
          class="md:relative rounded-full p-1 md:border sm:border-neutral-600 flex flex-col space-y-2 md:space-y-0 md:flex-row w-full md:w-fit"
        >
          <input
            type="email"
            id="subEmail"
            pattern="[^ @]*@[^ @]*"
            placeholder="Enter your Email"
            class="px-4 rounded-full md:rounded-l-full md:border-none outline-none focus:outline-none focus:border-none ring-0 focus:ring-0 text-sm border border-neutral-600"
          />
          <button
            class="md:absolute md:right-2 float-right text-white bg-primary rounded-full px-3 py-2 lg:px-6 lg:py-3 text-sm cursor-pointer"
            >Subscribe</button
          >
        </form>
        <p id="successMsg" class="hidden text-xs mt-1 text-center text-primary">
          Successfully Added Email to Waitlist!
        </p>
      </div>
    </div>
    <!-- links -->
    <div class="w-full flex md:flex-row flex-col justify-between items-center">
      <ul
        class="w-full md:flex md:items-center flex-wrap md:space-x-4 lg:space-x-8 grid grid-cols-2 gap-x-4 md:gap-x-0"
      >
        <li class="cursor-pointer hover:text-primary">Products</li>
        <li class="cursor-pointer hover:text-primary">
          <a target="_blank">Usecases</a>
        </li>
        <li class="cursor-pointer hover:text-primary">
          <a href="/report-with-anq" target="_blank">Report</a>
        </li>
      </ul>
      <ul
        class="mt-10 md:mt-0 flex items-center space-x-2"
      >
        <li class="cursor-pointer hover:text-primary">
          <a href="https://twitter.com/FetcchX" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-10 h-10" viewBox="0 0 48 48">
              <path fill="#03A9F4" d="M42,12.429c-1.323,0.586-2.746,0.977-4.247,1.162c1.526-0.906,2.7-2.351,3.251-4.058c-1.428,0.837-3.01,1.452-4.693,1.776C34.967,9.884,33.05,9,30.926,9c-4.08,0-7.387,3.278-7.387,7.32c0,0.572,0.067,1.129,0.193,1.67c-6.138-0.308-11.582-3.226-15.224-7.654c-0.64,1.082-1,2.349-1,3.686c0,2.541,1.301,4.778,3.285,6.096c-1.211-0.037-2.351-0.374-3.349-0.914c0,0.022,0,0.055,0,0.086c0,3.551,2.547,6.508,5.923,7.181c-0.617,0.169-1.269,0.263-1.941,0.263c-0.477,0-0.942-0.054-1.392-0.135c0.94,2.902,3.667,5.023,6.898,5.086c-2.528,1.96-5.712,3.134-9.174,3.134c-0.598,0-1.183-0.034-1.761-0.104C9.268,36.786,13.152,38,17.321,38c13.585,0,21.017-11.156,21.017-20.834c0-0.317-0.01-0.633-0.025-0.945C39.763,15.197,41.013,13.905,42,12.429"></path>
            </svg>
          </a>
        </li>
        <li class="cursor-pointer hover:text-primary">
          <a href="https://www.linkedin.com/company/82779524/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-10 h-10" viewBox="0 0 48 48">
              <path fill="#0288d1" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"></path><path fill="#fff" d="M14 19H18V34H14zM15.988 17h-.022C14.772 17 14 16.11 14 14.999 14 13.864 14.796 13 16.011 13c1.217 0 1.966.864 1.989 1.999C18 16.11 17.228 17 15.988 17zM35 24.5c0-3.038-2.462-5.5-5.5-5.5-1.862 0-3.505.928-4.5 2.344V19h-4v15h4v-8c0-1.657 1.343-3 3-3s3 1.343 3 3v8h4C35 34 35 24.921 35 24.5z"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full bg-[#263238] py-12">
    <div
      class="container text-white flex items-center justify-between flex-col md:flex-row space-y-6 md:space-x-0 text-sm lg:text-base max-w-7xl mx-auto"
    >
      <span>&copy; 2023 Fetcch . All Rights Reserved</span>
      <ul class="flex items-center space-x-6">
        <a href="http://fetcch.xyz/privacy-policy" target="_blank">Terms of Use</a>
        <a href="http://fetcch.xyz/terms-and-conditions" target="_blank">Privacy Policy</a>
      </ul>
    </div>
  </div>
</footer>
