---
import siteLogo from "@/public/logo.svg"
import { Image } from "astro:assets"
---

<head>
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css"
    rel="stylesheet"
  />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"
  ></script>
</head>

<div
  class="flex w-full items-center h-16 justify-between mx-auto bg-white max-w-7xl container"
>
  <Image src={siteLogo} class="w-20 h-fit" alt="site_logo" />
  <ul class="hidden md:flex items-center space-x-8">
    <li
      class="cursor-pointer hover:text-primary duration-300 font-medium text-neutral_text"
      title="Coming Soon"
      data-tooltip-placement="left"
    >
      <a href="#">About Us</a>
    </li>
    <li
      class="cursor-pointer hover:text-primary duration-300 font-medium text-neutral_text"
      title="Coming Soon"
      data-tooltip-placement="bottom"
    >
      <a href="#">Integrate</a>
    </li>

    <li
      id="dropdownHoverButton"
      data-dropdown-toggle="dropdownHover"
      data-dropdown-trigger="hover"
      class="cursor-pointer hover:text-primary duration-300 font-medium text-neutral_text"
    >
      <a href="#">Resources</a>
    </li>

    <!-- Dropdown menu -->
    <div
      id="dropdownHover"
      class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
    >
      <ul
        class="py-2 text-sm text-gray-700 dark:text-gray-200"
        aria-labelledby="dropdownHoverButton"
      >
        <li>
          <a
            href="https://writings.fetcch.xyz"
            target="_blank"
            class="block px-4 py-2 hover:bg-gray-100"
            >Writings</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100"
            >Reports</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100"
            >FAQs</a
          >
        </li>
      </ul>
    </div>
  </ul>
  <button
    class="rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-primary/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary"
    title="Coming Soon"
    data-tooltip-placement="bottom"
  >
    Try It</button
  >
</div>
