---
import research from "@/public/assets/cross-cowswap.jpg"
import research2 from "@/public/assets/id.png"
import research3 from "@/public/assets/dpn.jpg"
---

<section
  class="w-full bg-[#F6F9FC] mx-auto flex items-center min-h-[825px] h-fit py-12 lg:py-0"
>
  <div class="container max-w-7xl mx-auto">
    <h2 class="text-3xl font-bold mb-4">Fetcch Research Lab</h2>
    <div class="grid grid-cols-3 gap-6 mt-12 w-full">
      <!-- blog 1 -->
      <a
        href="https://writings.fetcch.xyz/how-to-think-about-cross-chain-cowswap"
        target="_blank"
        class="bg-white p-4 rounded-lg col-span-full md:col-span-1 shadow-2xl"
      >
        <div class="bg-[#F6F9FC]">
          <img src={research.src} alt="blog image" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          How to think about Cross Chain CoWSwap?
        </h2>
        <p class="mb-6">
          TLDR; Usage of coincidences of wants in cross-chain transfers might
          help reduce gas fees and wait time
        </p>
      </a>
      <!-- blog 2 -->
      <a
        href="https://writings.fetcch.xyz/multichain-account-abstraction-using-fetcch"
        target="_blank"
        class="bg-white p-4 rounded-lg col-span-full md:col-span-1 shadow-2xl"
      >
        <div class="bg-[#F6F9FC]">
          <img src={research2.src} alt="blog image" class="w-full" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          Multichain Account Abstraction Using Fetcch
        </h2>
        <p class="mb-6">
          Before understanding account abstraction. first let’s understand what
          are accounts on Ethereum.
        </p>
      </a>
      <!-- blog 3 -->
      <a
        href="https://writings.fetcch.xyz/state-of-dpn"
        target="_blank"
        class="bg-white p-4 rounded-lg col-span-full md:col-span-1 shadow-2xl"
      >
        <div class="bg-[#F6F9FC]">
          <img src={research3.src} alt="blog image" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          The State of DPN (Decentralized Paym...
        </h2>
        <p class="mb-6">
          Explore our directory to find out-of-the-box solutions that connect
          with Fetcch, such as Squarespace and Lightspeed.
        </p>
      </a>
    </div>
  </div>
</section>
