---
import research from "@/public/assets/research.png"
import research2 from "@/public/assets/research2.png"
import research3 from "@/public/assets/research3.png"
---

<section class="w-full bg-[#F6F9FC] mx-auto py-12 h-fit">
  <div class="container">
    <h4 class="text-neutral_text font-medium mb-4">Launch with ease</h4>
    <h2 class="text-3xl font-bold mb-4">Fetcch Research Lab</h2>
    <div class="grid grid-cols-3 gap-6 mt-12">
      <!-- blog 1 -->
      <div class="bg-white p-2 rounded-lg col-span-full md:col-span-1">
        <div class="bg-[#F6F9FC]">
          <img src={research.src} alt="blog image" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          How to think about Cross Chain CoWSwap?
        </h2>
        <p class="mb-6">
          TLDR; Usage of coincidences of wants in cross-chain transfers might
          help reduce gas fees and wait time
        </p>
      </div>
      <!-- blog 2 -->
      <div class="bg-white p-2 rounded-lg col-span-full md:col-span-1">
        <div class="bg-[#F6F9FC]">
          <img src={research2.src} alt="blog image" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          Multichain Account Abstraction Using Fetcch
        </h2>
        <p class="mb-6">
          Before understanding account abstraction. first let’s understand what
          are accounts on Ethereum.
        </p>
      </div>
      <!-- research 3 -->
      <div class="bg-white p-2 rounded-lg col-span-full md:col-span-1">
        <div class="bg-[#F6F9FC]">
          <img src={research3.src} alt="blog image" />
        </div>
        <h2 class="text-xl font-semibold my-4">
          The State of DPN (Decentralized Paym...
        </h2>
        <p class="mb-6">
          Explore our directory to find out-of-the-box solutions that connect
          with Fetcch, such as Squarespace and Lightspeed.
        </p>
      </div>
    </div>
  </div>
</section>
