<section
  class="py-12 w-full h-fit mx-auto bg-[#263035] lg:py-0 flex items-center min-h-[820px]"
>
  <div class="container max-w-7xl mx-auto">
    <h3 class="text-primary font-medium mb-4">Designed for developers</h3>
    <h2 class="text-3xl text-white font-bold mb-4">Use Cases</h2>
    <p class="text-[#ADBDCC] max-w-md mb-12">
      Keeping your eye on the ball while performing a deep dive on the start-up
      mentality to derive convergence on cross-platform integration.
    </p>
    <!-- cards -->
    <div class="grid grid-cols-3 gap-6">
      <div
        class="bg-[#A8BAC2] rounded-t-2xl p-10 pt-16 col-span-full md:col-span-1"
      >
        <h3 class="font-semibold uppercase text-xl">SHELLS</h3>
        <p class="prose max-w-sm my-6">
          Aliquet ridiculus mi porta habitant vulputate rhoncus, mattis amet
          enim. Sit purus venenatis velit semper lectus sed ornare
        </p>
        <div class="flex space-x-6 items-center">
          <div class="w-20 h-20 rounded-full bg-gray-300"></div>
          <div class="flex flex-col">
            <span class="text-black font-semibold block"> Hellena John</span>
            <span class="text-[#475569]">Co-founder</span>
          </div>
        </div>
      </div>
      <div
        class="bg-[#edf7fb] rounded-t-2xl p-10 pt-16 col-span-full md:col-span-1"
      >
        <h3 class="font-semibold uppercase text-xl">SHELLS</h3>
        <p class="prose max-w-sm my-6">
          Aliquet ridiculus mi porta habitant vulputate rhoncus, mattis amet
          enim. Sit purus venenatis velit semper lectus sed ornare
        </p>
        <div class="flex space-x-6 items-center">
          <div class="w-20 h-20 rounded-full bg-gray-300"></div>
          <div class="flex flex-col">
            <span class="text-black font-semibold block"> Hellena John</span>
            <span class="text-[#475569]">Co-founder</span>
          </div>
        </div>
      </div>
      <div
        class="bg-[#A8BAC2] rounded-t-2xl p-10 pt-16 col-span-full md:col-span-1"
      >
        <h3 class="font-semibold uppercase text-xl">SHELLS</h3>
        <p class="prose max-w-sm my-6">
          Aliquet ridiculus mi porta habitant vulputate rhoncus, mattis amet
          enim. Sit purus venenatis velit semper lectus sed ornare
        </p>

        <div class="flex space-x-6 items-center">
          <div class="w-20 h-20 rounded-full bg-gray-300"></div>
          <div class="flex flex-col">
            <span class="text-black font-semibold block"> Hellena John</span>
            <span class="text-[#475569]">Co-founder</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
