<section
  class="py-12 w-full h-fit mx-auto bg-[#263035] lg:py-0 flex items-end min-h-[820px]"
>
  <div class="container max-w-7xl mx-auto">
    <h3 class="text-primary font-medium mb-4">Designed for developers</h3>
    <h2 class="text-3xl text-white font-bold mb-4">Use Cases</h2>
    <p class="text-[#ADBDCC] max-w-md mb-12">
      Fetcch partners with applications to make the experience of payments
      better by enabling pull payments.
    </p>
    <!-- cards -->
    <div class="grid grid-cols-3 gap-6">
      <div
        class="bg-[#A8BAC2] rounded-2xl lg:rounded-t-2xl lg:rounded-b-none p-10 pt-16 col-span-full lg:col-span-1 relative min-h-[434px]"
      >
        <h3 class="font-semibold uppercase text-xl">Wallets</h3>
        <p class="prose max-w-sm my-6">
          Add a payment request button, It easily enables sending and receiving
          cross-chain payment request notifications from different wallets,
          exchanges and applications
        </p>
      </div>
      <div
        class="bg-[#edf7fb] rounded-2xl lg:rounded-t-2xl lg:rounded-b-none p-10 pt-16 col-span-full lg:col-span-1 relative min-h-[434px]"
      >
        <h3 class="font-semibold uppercase text-xl">Payment Gateway</h3>
        <p class="prose max-w-sm my-6">
          Enable sending payment requests from the web3/web2 payment gateway to
          any wallet, exchange including Apple Pay, pay etc,
        </p>
      </div>
      <div
        class="bg-[#A8BAC2] rounded-2xl lg:rounded-t-2xl lg:rounded-b-none p-10 pt-16 col-span-full lg:col-span-1 relative min-h-[434px]"
      >
        <h3 class="font-semibold uppercase text-xl">Exchanges</h3>
        <p class="prose max-w-sm my-6">
          Enable sending or receiving one tap payment request to different
          recipients such as wallets, exchanges, and payment gateways.
        </p>
      </div>
    </div>
  </div>
</section>
